In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from scipy import stats

In [4]:
from scipy.stats import norm

In [29]:
from scipy.stats import chi2_contingency

# Q1

In [9]:
# Load the dataset
data = pd.read_csv("Cutlets.csv")
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [20]:
unitA = pd.Series(data.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [12]:
unitB = pd.Series(data.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [16]:
# 2-sample 2-tail test:    stats.ttest_ind(array1,array2)     #ind - independent samples
p_value = stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [17]:
p_value[1]       # 2-tail probability

0.4722394724599501

In [58]:
# compare p_value with α = 0.05(At 5% significance level)

p_value[1] > 0.05

False

In [23]:
# Therefore p_value is greater than significance values so we go with null hypothesis.
# According to null hypothesis there is no significance difference in the diameter of the cutlet between two unit.

# Q2

In [24]:
# Load the dataset 
data = pd.read_csv("LabTAT.csv")
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [25]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value = stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [26]:
p_value[1]

2.1156708949992414e-57

In [27]:
# Compare it with α = 0.05 
0.05 > p_value[1]

True

In [28]:
# As p_value is greater than significance value we fail to reject null hypothesis
# So there is no difference to average TAT Among the different laboratories at 5% significance level

# Q3

In [30]:
# Assume null and alternative hypoyhesis 
# Ho: Independance of categorical variables (male-female buyer rations are similar across regions)
#     (does not vary and are not relatable)
# Ha: Dependence of categorical variables (male-female buyer rations rations are NOT similar across regions)
#     (does vary and somewhat/significantly related)

In [31]:
# Load the dataset
data = pd.read_csv("BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [34]:
# Make dimensional array 
obs = np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [33]:
# chi2 contingency independence test
chi2_contingency(obs)   # o/p is (chi2 stats value, p_value, df, expected observations)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [43]:
# compare p_value with α = 0.05
# p_value > 0.05
0.6603094907091882 > 0.05

True

In [44]:
# Inference: As (p_value = 0.6603) > (α = 0.05); Accept the null Hypothesis i.e. Independence of categorical variables
# Thus, male-female buyer rations are similar across regions and are not related

# Q4

In [45]:
# Assume null and alternative hypothesis 
# Ho: Independence of categorical variables (customer order forms defective % does not varies by centre )
# Ha: Dependence of categorical variables (customer order forms defective % varies by centre)

In [46]:
# Load the dataset
data = pd.read_csv("costomer+OrderForm.csv")
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [47]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [49]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [50]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [51]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [52]:
# Make a contingency table
obs = np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [53]:
# chi2 contengency independence test
chi2_contingency(obs)   # o/p is (chi2 stats value, p_value, df, expected observations)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [57]:
# compare p_value with α = 0.05
# p_value > 0.05
0.2771020991233135 > 0.05

True

In [ ]:
# Inference: As (p_value = 0.2771) > (α = 0.05); Accept Null Hypothesis i.e. Independence of categorical variables 
# Thus, customer order forms defective % does not varies by centre